[project]
	description = MWO laboratoria z Javy
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bockowsk
[access "refs/for/refs/*"]
	read = group user/bockowsk
	push = group user/bockowsk
	label-Code-Review = -2..+2 group user/bockowsk
	label-Verified = -1..+1 group user/bockowsk
	rebase = group user/bockowsk
	removeReviewer = group user/bockowsk
	submit = group user/bockowsk
[access "refs/heads/*"]
	read = group user/bockowsk
	create = group user/bockowsk
	push = +force group user/bockowsk
	pushMerge = group user/bockowsk
[access "refs/tags/*"]
	push = group user/bockowsk
	push = +force group user/bockowsk
